<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH3uDMCbCJ1IiiKlSh-eFAJN7wTg5grlk</string>
	<key>GCM_SENDER_ID</key>
	<string>455566048182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oddlycodes.fortniteSquads</string>
	<key>PROJECT_ID</key>
	<string>fortnite-squads-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fortnite-squads-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455566048182:ios:6ed72c71b1bf86ac835f17</string>
</dict>
</plist>